@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Golos+Text&display=swap');

* {
    box-sizing: border-box;
}

#product-overview {
    background:url(/freedom.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 528px;
    padding: 10px;
}

body {
    margin: 0;
    font-family: 'Golos Text', sans-serif;
}

.section-title {
    color: #2ddf5c;
}

.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: 700;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    text-decoration-line: none;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
}

.main-nav__items {
    text-decoration: none;
    margin: 0;
    padding: 5px;
    list-style: none;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: red;
    padding: 8px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: red;
    background: white;
    border: none;
}